body{
    background-image: url(img/sol.png);
    background-size: 100% 100% ;
    background-attachment:fixed;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.contenedor-imagenes{
    position: relative;
    justify-content:space-around;
    align-content: center;
    margin: 300px auto;
}
.contenedor-imagenes .imagen{
    position:relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-imagenes .imagen img{
    height: 80px;
}
.contenedor-imagenes .imagen .nombre{
    margin-top: -140px;
    padding: 10px 10px 10px 10px;
    color: #fff;
    background-color: rgb(255, 255, 0, 0.1);
    border-radius: 8px;
}